{% extends 'access_user/base.html' %}

{% block title %} add new menu item {% endblock %}

{% block content %}
    <a href="{% url 'db_types' restaurant.slug branch.slug %}"> Go back into types info </a>
    <br><br>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            <br>
        {% endfor %}
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="branch">Branch:</label>
        <select id="options" name="branch" readonly>
            <option value="{{ branch.slug }}" selected>{{ branch.name }}</option>
        </select>
        <br><br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Name" required>
        <br>
        <label for="slug">Slug:</label>
        <input type="text" id="slug" name="slug" placeholder="Slug" required>
        <br>
        <label for="image">Image:</label>
        <input type="file" id="image" name="image" accept=".jpg, .jpeg, .png, .gif, .bmp">
        <br> <br>

        <br>
        <button type="submit" name="action" value="save_and_continue_editing">Save and continue editing</button>
        <button type="submit" name="action" value="save_and_add_another">Save and add another</button>
        <button type="submit" name="action" value="save">Save</button> 
    </form>


    <!-- Pasar parámetros adicionales al bloque del template base -->
    {{ block.super }}
{% endblock %}