{% extends 'access_user/base.html' %}

{% block title %} edit {{ branch.name }} {% endblock %}

{% block content %}
    <a href="{% url 'db_branches' restaurant.slug %}"> Go back into branches info </a>
    <br><br>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            <br>
        {% endfor %}
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Name" value="{{ branch.name }}" required>
        <br>
        <label for="ubication">Ubication:</label>
        <input type="text" id="ubication" name="ubication" placeholder="Ubication" value="{{ branch.ubication }}" required>
        <br>
        <label for="slug">Slug:</label>
        <input type="text" id="slug" name="slug" placeholder="Slug" value="{{ branch.slug }}" required>
        <br>
        <label for="image">Image:</label>
        <br>
        <img src="{{ branch.image.url }}" alt="{{ branch.image.url }}">
        <br>
        <input type="file" id="image" name="image" accept=".jpg, .jpeg, .png, .gif, .bmp, .avif">
        <br> <br>

        <br>
        <button type="submit" name="action" value="save_and_continue_editing">Save and continue editing</button>
        
        <button type="submit" name="action" value="save_and_add_another">Save and add another</button>
        
        <button type="submit" name="action" value="save">Save</button> 
    </form>


    <!-- Pasar parámetros adicionales al bloque del template base -->
    {{ block.super }}
{% endblock %}

